name: nkust_ap
description: A new Flutter application.

version: 0.4.3+403

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  shared_preferences: ^0.4.2
  cupertino_icons: ^0.1.2
  dio: 1.0.9
  fluttertoast: ^2.1.5
  firebase_core: ^0.2.5+1
  firebase_analytics: 1.0.4
  firebase_remote_config: ^0.0.6+1
  firebase_messaging: ^2.0.2
  flutter_calendar: ^0.0.8
  url_launcher: ^4.0.1
  carousel_slider: ^1.0.1
  flutter_crashlytics: 0.1.1
  package_info: ^0.3.2
  share: ^0.5.3
dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
     - assets/images/
     - assets/images/kuasap.png
     - assets/images/kuasap2.png
     - assets/images/kuasap3.png
     - assets/images/kuas_itc.png
     - assets/images/ic_fb.png
     - assets/images/ic_github.png
     - assets/images/ic_email.png
     - assets/images/drawer-backbroud.png
     - assets/images/drawer-icon.png
     - assets/images/K.png
     - assets/images/dash_line.png
  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
