name: Build Test

on:
  push:
    branches:
      - master
    tags-ignore:
      - v*
      -
  pull_request:
    branches:
      - master
jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Flutter tasks
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.x'
          channel: 'stable'
      - run: flutter pub get
#      - name: Analyze files
#        run: flutter analyze .
      - name: Model test
        run: flutter test test/model_test.dart

  build_android:
    name: Build Android App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: '11.0'
      - name: Decrypt Android keys
        run: sh ./.github/scripts/decrypt_android_keys.sh
        env:
          KEYS_SECRET_PASSPHRASE: ${{ secrets.KEYS_SECRET_PASSPHRASE }}
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.x'
          channel: 'stable'
      - run: flutter pub get
      - name: Build Android app bundle
        run: flutter build appbundle --release

  build_ios:
    name: Build iOS App
    runs-on: macOS-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Decrypt iOS keys
        run: sh ./.github/scripts/decrypt_ios_keys.sh
        env:
          KEYS_SECRET_PASSPHRASE: ${{ secrets.KEYS_SECRET_PASSPHRASE }}
      - name: Run Flutter tasks
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.x'
          channel: 'stable'
      - run: flutter pub get
      - name: Build iOS
        run: flutter build ios --release --no-codesign

  build_web:
    name: Build Web App
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.x'
          channel: 'stable'
      - name: Enable Web
        run: flutter config --enable-web
      - run: flutter pub get
      - name: Build Web
        run: flutter build web

  #  build_macos:
  #    name: Build macOS App
  #    runs-on: macOS-latest
  #    steps:
  #      - name: Checkout code
  #        uses: actions/checkout@v2
  #      - name: Run Flutter tasks
  #        uses: subosito/flutter-action@v2
  #        with:
  #          flutter-version: '3.0.x'
  #          channel: 'stable'
  #      - name: Enable macOS
  #        run: flutter config --enable-macos-desktop
  #      - run: flutter pub get
  #      - name: Build macOS
  #        run: flutter build macos --release

  build_linux:
    name: Build Linux App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Flutter tasks
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.x'
          channel: 'stable'
      - name: Intall requird Dependencies
        run: sudo apt -y install clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev
      - name: Enable linux
        run: flutter config --enable-linux-desktop
      - run: flutter doctor -v
      - run: flutter pub get
      - name: Build linux
        run: flutter build linux --release

  build_windows:
    name: Build Windows App
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Flutter tasks
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.x'
          channel: 'stable'
      - name: Enable windows
        run: flutter config --enable-windows-desktop
      - run: flutter doctor -v
      - run: flutter pub get
      - name: Build windows
        run: flutter build windows --release